.masthead {
  height: 100vh;
  min-height: 500px;
  color: white;
  background-image: url("images/untitled.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container1 {
  padding: 25px;
  color: rgb(37, 18, 18);
  text-align: center;
}

.opener {
  padding: 5%;
}

.middletext {
  padding: 5%;
}

.abovefooter {
  background-color: teal;
  padding: auto;
  width: 100%;
}

.socialmedia {
  padding: 4%;
}
