html {
}

header {
  background-color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
ul {
  width: auto;
  margin: auto;
  padding: 2%;
  background-color: teal;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

li {
  color: white;
  list-style: none;
  display: inline;
  display: inline-block;
  width: auto;
  margin: auto;
  text-align: left;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

nav {
  width: 100%;
  overflow: auto;
  word-spacing: 20px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  margin-left: -10px;
  margin-right: -10px;
}

.header {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

article {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 3%;
  line-height: 30px;
}

footer {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: rgb(22, 27, 27);
  width: auto;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
}
